<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
<button class="btn-primary btn-small">button text submin</button>
<hr>
<p><img src="http://lorempixel.com/400/200/food" width="400" height="200" alt="food" title="placeholder"></p>
<p><img src="http://lorempixel.com/400/200/sports" width="400" height="200" alt="sports" title="placeholder"></p>
<p><img src="http://lorempixel.com/400/200/abstract" width="400" height="200" alt="abstract" title="placeholder"></p>